

.player1 {
     position: absolute;
     top:10%;
     left:20%;
    background-color: white;
    color: black;
    border: 2px solid #000000; /* Green */

}  

.player2 {
     position: absolute;
     top:10%;
     left:75%;
    background-color: white;
    color: black;
    border: 2px solid #000000; /* Green */


}  