<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
    　　<meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>hi</title>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->


      <link rel="stylesheet" type = "text/css" href="stylesheets/page2.css">
   
</head>


<body>
	
<div class = "center">
<a href="page3" title ="PLAYER1"> USEE1 </a>
<br><br><br><br>
<a href="sockets/public/index.html" title ="PLAYER2"> USEE 1 </a>
<br><br><br><br>
<a href="sockets/public/index.html" title ="PLAYER3"> USEE 1 </a>
<br><br><br><br>
<a href="sockets/public/index.html" title ="PLAYER4"> USEE 1 </a>
<br><br><br><br>
</div>
<!-- <a href="#" title="button2"> USER 2 </a>
<a href="#" title="button2"> USER 3 </a>
<a href="#" title="button2"> USER 4 </a> -->
</body>

</html>
